body {
  text-align: justify;
}

/* Title */

div.title {
  display: block;
  text-align: center;
  font-weight: 600;
  margin: 20px 0px 20px 0px;
  font-size: 1.4em;
}


/* Author pane */

div.author-list-pane {
  display: block;
  text-align: center;
}

ul.author-list {
  /* display:flex; */ /* enable this to force all authors on the same line.*/
  list-style:none;
  padding: 0;
}

li.author-list-item {
  display: inline;
}

div.author-box {
  vertical-align: top;
  padding: 10px;
  text-align: center;
  display: inline-block;
}


span.author-name {
  font-weight: 800;
}
span.author-email {
  font-family: monospace;
}



/* Abstract pane */

div.abstract-pane {
  display: block;
  max-width: 80%;
  margin: auto;
}

div.abstract-heading {
  display: block;
  font-weight: 600;
  text-align: center;
  margin: 10px;
}

div.abstract-body {
  display: block;
  margin: auto;
  hyphens: auto;
}


/* Section Pane */

div.section-pane {
  padding: 10px 0px 10px 0px;
}

div.section-box-general {
}


div.section-heading-general {
  font-weight: 600;
  padding: 10px 0px 10px 0px;
}

div.section-heading-1 {
  font-size: 1.4em;
}
div.section-heading-2 {
  font-size: 1.2em;
}
div.section-heading-3 {
  font-size: 1.0em;
}

div.section-body-general {
  hyphens: auto;
}

span.section-heading-number {
  margin-right:15px;
}

/* Code box */
div.code-box {
  margin: 10px 20px 10px 20px;
}

/* Citations */
span.bib-kind {
  color: grey;
}
div.bib-name {
  font-style: italic;
  font-weight: 600;
}
a.bib-url-text {
  font-family: monospace;
}
span.bib-author-text {
  color: grey;
}

/* Custom tags */
sc {
  font-variant: small-caps;
}
it {
  font-style: italic;
}
rm {
  font-style: normal;
}

/* Fixing issues with built-in tags */
sup { 
  vertical-align: top; 
  position: relative; 
  top: -0.5em; 
}

code {
  font-size: 0.9em;
}


/* Fixing issues with highlight.js */
.hljs {
  background: white;
}